body {
  background-color: #171F36;
  color: #fff;
  margin: 20px auto;
}

.container {
  /* display: flex; */
}

.accordion {
  margin: auto;
}

#dropdown {
  width: 60%;
}

/* Slider */
.slidecontainer {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #f3f3f3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: cornflowerblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: cornflowerblue;
  cursor: pointer;
}

/* Fonts */
.chicle {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  /* text-align: center; */

}

.bungee {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* text-align: center; */

}

h1, #approval {
  text-align: center;

}
